<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ShimNews" %></title>
    <link href='https://fonts.googleapis.com/css?family=Concert+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script src="countdown.js"></script>

  </head>

  <body>
    <div class="small-centered row column">
      <div class="text-center">
        <% unless flash[:notice].nil? %>
          <% flash[:notice].each do |notice| %>
          <h6 class="flash"> <%= notice %>. </h5>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>


</html>
